<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="styles.css">
    <title>Retailer | reg</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--MAP-->
    <!-- Load Leaflet from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@^3.0.8/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.0.0/dist/esri-leaflet-vector.js"></script>
    
    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@^3.1.3/dist/esri-leaflet-geocoder.css">
    <script src="https://unpkg.com/esri-leaflet-geocoder@^3.1.3/dist/esri-leaflet-geocoder.js"></script>

    <!--For current location-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

<!--For search icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        margin: 0;
        padding: 0;
      }
      #map {
        /*position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;*/
        height:30vh;
        width:78vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #323232;
      }
</style>

</head>

<body class="p-3 m-0 border-0 bd-example bd-example-row" style="background-color: #2F2F2F;">

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" id="reg" href="#">Waggle</a>
            <div class="d-flex" id="reg">
                Retailer Registration
            </div>
        </div>
    </nav>

    <form action="/reg" method="post">
    <div class="container text-center">
        <div class="row" id="row_1">
            <div class="col" id="first_row">
                <p class="text-end">Add details</p>
            </div>
        </div>
        <div class="row" id="row_1">
            <div class="row">
                <div class="col" id="names">
                    <p class="text-end">Shop name</p>
                </div>
            </div>
            <div class="row">
                <div class="col" id="input_box">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="shop_name">
                </div>
            </div>
        </div>
        <div class="row" id="row_1">
            <div class="row">
                <div class="col" id="names">
                    <p class="text-end">Location</p>
                </div>
            </div>
            <div class="row">
                <div class="col" id="input_box">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="latitude" placeholder="Enter latitude..." style="color:white;">
                </div>
                <div class="col" id="input_box">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="longitude" placeholder="Enter longitude..." style="color:white;" >
                </div>

            </div>
        </div>
        <br>
        
        <div id="map">
       <script>
        const map = L.map("map", {
        minZoom: 2
      })

      map.setView([11.0510, 76.0711], 9); // Trivandrum

      const apiKey = "AAPKf1a5d3b89502419dae30d08f98e871d265uHo5LKz-PyXJJKAr8WLbXEar8Tw5tG9m-S1ihTbriSpUuvJu1p7oIXhrONJglo";

      const basemapEnum = "ArcGIS:Navigation";

      L.esri.Vector.vectorBasemapLayer(basemapEnum, {
        apiKey: apiKey
      }).addTo(map);

      //finding current location
var lc = L.control
  .locate({
    position: "topleft",
    strings: {
      title: "Click here to find your current location!"
    }
  }).addTo(map);

  //for displaying coordinates of a page
  map.on('click', function(e){
  var lt = String(e.latlng.lat),
  lg = String(e.latlng.lng);
  var popup = L.popup()
    .setLatLng(e.latlng)
    .setContent(lt + " " + lg)
    .openOn(map);
});


//for search bar (address/place)
      const searchControl = L.esri.Geocoding.geosearch({
        position: "topright",
        placeholder: "Enter an address or place Eg:Kochi",
        useMapBounds: false,

        providers: [
          L.esri.Geocoding.arcgisOnlineProvider({
            apikey: apiKey,
            nearby: {
              lat: -33.8688,
              lng: 151.2093
            }
          })
        ]
      }).addTo(map);
       </script>
        </div>
        <div class="row" id="row_1">
            <div class="row">
                <div class="col" id="names">
                    <p class="text-end">Username</p>
                </div>
            </div>
            <div class="row">
                <div class="col" id="input_box">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                </div>
            </div>
        </div>
        <div class="row" id="row_1">
            <div class="row">
                <div class="col" id="names">
                    <p class="text-end">Password</p>
                </div>
            </div>
            <div class="row">
                <div class="col" id="input_box">
                    <input type="password" class="form-control" id="exampleInputEmail1" name="password">
                </div>
            </div>
        </div>
        <div class="row" id="row_1">
            <div class="col"><a href="http://localhost:3000/index"><button id="but" class="btn">Submit</button></a></div>
        </div>
    </div>
</form>

<script src="index.js"></script>
</body>

</html>